{% extends 'base.html.twig' %}

{% block body %}
    <h1>Livreurs list</h1>

    <table class="table striped bordered hovered" id="interventions">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livreur in livreurs %}
            <tr>
                <td><a href="{{ path('livreur_show', { 'id': livreur.id }) }}">{{ livreur.id }}</a></td>
                <td>{{ livreur.nom }}</td>
                <td>{{ livreur.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livreur_show', { 'id': livreur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('livreur_edit', { 'id': livreur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('livreur_new') }}"><span class="icon-plus fg-green large"></span></a>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/jquery-impromptu.css') }}" rel="stylesheet">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/js/modal/jquery-impromptu.js') }}"></script>
    <script src="{{ asset('bundles/app/js/modal/openPrompt.js') }}"></script>
{% endblock %}
